# Multi-Level and Index examples

In [50]:
import pandas as pd
import numpy as np

In [51]:
df = pd.read_csv('/Users/steven/Jupyter/archive/athlete_events.csv')

df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [52]:
# I want all games from 2012
df.loc[df['Year'] == 2012]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
98,34,Jamale (Djamel-) Aarrass (Ahrass-),M,30.0,187.0,76.0,France,FRA,2012 Summer,2012,Summer,London,Athletics,"Athletics Men's 1,500 metres",NaN
134,48,Abdelhak Aatakni,M,24.0,NaN,64.0,Morocco,MAR,2012 Summer,2012,Summer,London,Boxing,Boxing Men's Light-Welterweight,NaN
164,67,Mariya Vasilyevna Abakumova (-Tarabina),F,26.0,179.0,80.0,Russia,RUS,2012 Summer,2012,Summer,London,Athletics,Athletics Women's Javelin Throw,NaN
174,73,Luc Abalo,M,27.0,182.0,86.0,France,FRA,2012 Summer,2012,Summer,London,Handball,Handball Men's Handball,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271020,135526,Dniel Zwickl,M,27.0,178.0,71.0,Hungary,HUN,2012 Summer,2012,Summer,London,Table Tennis,Table Tennis Men's Singles,NaN
271023,135528,Marc Zwiebler,M,28.0,181.0,75.0,Germany,GER,2012 Summer,2012,Summer,London,Badminton,Badminton Men's Singles,NaN
271052,135547,Viktoriya Viktorovna Zyabkina,F,19.0,174.0,62.0,Kazakhstan,KAZ,2012 Summer,2012,Summer,London,Athletics,Athletics Women's 200 metres,NaN
271090,135557,Dominik ycki,M,38.0,192.0,95.0,Poland,POL,2012 Summer,2012,Summer,London,Sailing,Sailing Men's Two Person Keelboat,NaN
271091,135558,ukasz Tomasz ygado,M,32.0,200.0,89.0,Poland,POL,2012 Summer,2012,Summer,London,Volleyball,Volleyball Men's Volleyball,NaN

In [53]:
# Set the Year as the index
df = df.set_index('Year')

In [54]:
# Since we reset the index I can pull data using loc
df.loc[1992]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Season,City,Sport,Event,Medal
Year,,,,,,,,,,,,,,
1992,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1992,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
1992,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
1992,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
1992,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1992,135514,Tamara Zwart,F,17.0,167.0,57.0,Netherlands,NED,1992 Summer,Summer,Barcelona,Synchronized Swimming,Synchronized Swimming Women's Duet,NaN
1992,135523,"Ronald Ferdinand ""Ron"" Zwerver",M,25.0,200.0,93.0,Netherlands,NED,1992 Summer,Summer,Barcelona,Volleyball,Volleyball Men's Volleyball,Silver
1992,135531,Sabine Beate Zwiener (-Jauchstetter),F,24.0,172.0,52.0,Germany,GER,1992 Summer,Summer,Barcelona,Athletics,Athletics Women's 800 metres,NaN
1992,135537,Sawomir Andrzej Zwierzyski,M,25.0,175.0,72.0,Poland,POL,1992 Summer,Summer,Barcelona,Fencing,"Fencing Men's epee, Team",NaN
1992,135545,Henk Jan Zwolle,M,27.0,197.0,93.0,Netherlands,NED,1992 Summer,Summer,Barcelona,Rowing,Rowing Men's Double Sculls,Bronze

In [55]:
# Lets set the index by Year and season
# We have to rest the index 
df = df.reset_index()

# Verify
df.head()

,Year,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Season,City,Sport,Event,Medal
0,1992,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2012,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,1920,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,Summer,Antwerpen,Football,Football Men's Football,NaN
3,1900,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,1988,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [56]:
df = df.set_index(['Year', 'Season'])

df.head() # See how the year and season column are on the left and are a multiIndex

,,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,City,Sport,Event,Medal
Year,Season,,,,,,,,,,,,,
1992,Summer,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2012,Summer,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
1920,Summer,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,Antwerpen,Football,Football Men's Football,NaN
1900,Summer,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
1988,Winter,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [57]:
# Sort the index first!! It is sort by an integer and then by string
df = df.sort_index()
# Now we can search by year and Season
df = df.loc[('1992','Summer')]

df.head()

             ID                   Name Sex   Age  Height  Weight     Team  \
Year Season
1992 Summer   1              A Dijiang   M  24.0   180.0    80.0    China
     Summer  33    Mika Lauri Aarnikka   M  24.0   187.0    76.0  Finland
     Summer  43  Morten Gjerdrum Aasen   M  34.0   185.0    75.0   Norway
     Summer  50             Arvi Aavik   M  22.0   185.0   106.0  Estonia
     Summer  64         M'Bairo Abakar   M  31.0     NaN     NaN     Chad

             NOC        Games       City          Sport  \
Year Season
1992 Summer  CHN  1992 Summer  Barcelona     Basketball
     Summer  FIN  1992 Summer  Barcelona        Sailing
     Summer  NOR  1992 Summer  Barcelona  Equestrianism
     Summer  EST  1992 Summer  Barcelona      Wrestling
     Summer  CHA  1992 Summer  Barcelona           Judo

                                               Event Medal
Year Season
1992 Summer              Basketball Men's Basketball   NaN
     Summer          Sailing Men's Two Person Dinghy   NaN
     Summer  Equestrianism Mixed Jumping, Individual   NaN
     Summer   Wrestling Men's Heavyweight, Freestyle   NaN
     Summer             Judo Men's Half-Middleweight   NaN

In [58]:
# Lets do another index example with Year, Season, and Sport
df = df.reset_index()
df = df.set_index(['Year', 'Season', 'Sport'])
df = df.sort_index()
df.head()

                       ID                           Name Sex   Age  Height  \
Year Season Sport
1992 Summer Archery  3656       Jos Andrs Anchondo Garca   M  29.0   185.0
            Archery  3656       Jos Andrs Anchondo Garca   M  29.0   185.0
            Archery  5447          Loedmila Arzjannikova   F  34.0   168.0
            Archery  5447          Loedmila Arzjannikova   F  34.0   168.0
            Archery  8174  Jack Leonard "Jay" Barrs, Jr.   M  30.0   182.0

                     Weight           Team  NOC        Games       City  \
Year Season Sport
1992 Summer Archery    75.0         Mexico  MEX  1992 Summer  Barcelona
            Archery    75.0         Mexico  MEX  1992 Summer  Barcelona
            Archery    62.0   Unified Team  EUN  1992 Summer  Barcelona
            Archery    62.0   Unified Team  EUN  1992 Summer  Barcelona
            Archery    70.0  United States  USA  1992 Summer  Barcelona

                                          Event   Medal
Year Season Sport
1992 Summer Archery    Archery Men's Individual     NaN
            Archery          Archery Men's Team     NaN
            Archery  Archery Women's Individual     NaN
            Archery        Archery Women's Team  Bronze
            Archery    Archery Men's Individual     NaN

In [59]:
# Lets retreive by year
df.loc[1992] # Remember to use [] after .loc

                          ID                           Name Sex   Age  Height  \
Season Sport
Summer Archery          3656       Jos Andrs Anchondo Garca   M  29.0   185.0
       Archery          3656       Jos Andrs Anchondo Garca   M  29.0   185.0
       Archery          5447          Loedmila Arzjannikova   F  34.0   168.0
       Archery          5447          Loedmila Arzjannikova   F  34.0   168.0
       Archery          8174  Jack Leonard "Jay" Barrs, Jr.   M  30.0   182.0
...                      ...                            ...  ..   ...     ...
Winter Speed Skating  135071                     Olaf Zinke   M  25.0   182.0
       Speed Skating  135071                     Olaf Zinke   M  25.0   182.0
       Speed Skating  135071                     Olaf Zinke   M  25.0   182.0
       Speed Skating  135381      Angela Zuckerman (-Davre)   F  26.0   175.0
       Speed Skating  135381      Angela Zuckerman (-Davre)   F  26.0   175.0

                      Weight           Team  NOC        Games         City  \
Season Sport
Summer Archery          75.0         Mexico  MEX  1992 Summer    Barcelona
       Archery          75.0         Mexico  MEX  1992 Summer    Barcelona
       Archery          62.0   Unified Team  EUN  1992 Summer    Barcelona
       Archery          62.0   Unified Team  EUN  1992 Summer    Barcelona
       Archery          70.0  United States  USA  1992 Summer    Barcelona
...                      ...            ...  ...          ...          ...
Winter Speed Skating    80.0        Germany  GER  1992 Winter  Albertville
       Speed Skating    80.0        Germany  GER  1992 Winter  Albertville
       Speed Skating    80.0        Germany  GER  1992 Winter  Albertville
       Speed Skating    65.0  United States  USA  1992 Winter  Albertville
       Speed Skating    65.0  United States  USA  1992 Winter  Albertville

                                                   Event   Medal
Season Sport
Summer Archery                  Archery Men's Individual     NaN
       Archery                        Archery Men's Team     NaN
       Archery                Archery Women's Individual     NaN
       Archery                      Archery Women's Team  Bronze
       Archery                  Archery Men's Individual     NaN
...                                                  ...     ...
Winter Speed Skating      Speed Skating Men's 500 metres     NaN
       Speed Skating    Speed Skating Men's 1,000 metres    Gold
       Speed Skating    Speed Skating Men's 1,500 metres     NaN
       Speed Skating  Speed Skating Women's 1,500 metres     NaN
       Speed Skating  Speed Skating Women's 3,000 metres     NaN

[16413 rows x 12 columns]

In [60]:
# Do one by the year and season and sport
df.loc[(1992, 'Summer', 'Archery')]

                         ID                                 Name Sex   Age  \
Year Season Sport
1992 Summer Archery    3656             Jos Andrs Anchondo Garca   M  29.0
            Archery    3656             Jos Andrs Anchondo Garca   M  29.0
            Archery    5447                Loedmila Arzjannikova   F  34.0
            Archery    5447                Loedmila Arzjannikova   F  34.0
            Archery    8174        Jack Leonard "Jay" Barrs, Jr.   M  30.0
...                     ...                                  ...  ..   ...
            Archery  132302                     Hiroshi Yamamoto   M  29.0
            Archery  132910       Vladimir Nikolayevich Yesheyev   M  34.0
            Archery  132910       Vladimir Nikolayevich Yesheyev   M  34.0
            Archery  133609  Stanislav Vyacheslavovich Zabrodsky   M  30.0
            Archery  133609  Stanislav Vyacheslavovich Zabrodsky   M  30.0

                     Height  Weight           Team  NOC        Games  \
Year Season Sport
1992 Summer Archery   185.0    75.0         Mexico  MEX  1992 Summer
            Archery   185.0    75.0         Mexico  MEX  1992 Summer
            Archery   168.0    62.0   Unified Team  EUN  1992 Summer
            Archery   168.0    62.0   Unified Team  EUN  1992 Summer
            Archery   182.0    70.0  United States  USA  1992 Summer
...                     ...     ...            ...  ...          ...
            Archery   170.0    71.0          Japan  JPN  1992 Summer
            Archery   185.0    78.0   Unified Team  EUN  1992 Summer
            Archery   185.0    78.0   Unified Team  EUN  1992 Summer
            Archery   187.0    72.0   Unified Team  EUN  1992 Summer
            Archery   187.0    72.0   Unified Team  EUN  1992 Summer

                          City                       Event   Medal
Year Season Sport
1992 Summer Archery  Barcelona    Archery Men's Individual     NaN
            Archery  Barcelona          Archery Men's Team     NaN
            Archery  Barcelona  Archery Women's Individual     NaN
            Archery  Barcelona        Archery Women's Team  Bronze
            Archery  Barcelona    Archery Men's Individual     NaN
...                        ...                         ...     ...
            Archery  Barcelona          Archery Men's Team     NaN
            Archery  Barcelona    Archery Men's Individual     NaN
            Archery  Barcelona          Archery Men's Team     NaN
            Archery  Barcelona    Archery Men's Individual     NaN
            Archery  Barcelona          Archery Men's Team     NaN

[247 rows x 12 columns]

In [61]:
df.xs('Archery', level = 'Sport') # .xs is a cross section and Level is the column index and Archery is a variable.

                 ID                                 Name Sex   Age  Height  \
Year Season
1992 Summer    3656             Jos Andrs Anchondo Garca   M  29.0   185.0
     Summer    3656             Jos Andrs Anchondo Garca   M  29.0   185.0
     Summer    5447                Loedmila Arzjannikova   F  34.0   168.0
     Summer    5447                Loedmila Arzjannikova   F  34.0   168.0
     Summer    8174        Jack Leonard "Jay" Barrs, Jr.   M  30.0   182.0
...             ...                                  ...  ..   ...     ...
     Summer  132302                     Hiroshi Yamamoto   M  29.0   170.0
     Summer  132910       Vladimir Nikolayevich Yesheyev   M  34.0   185.0
     Summer  132910       Vladimir Nikolayevich Yesheyev   M  34.0   185.0
     Summer  133609  Stanislav Vyacheslavovich Zabrodsky   M  30.0   187.0
     Summer  133609  Stanislav Vyacheslavovich Zabrodsky   M  30.0   187.0

             Weight           Team  NOC        Games       City  \
Year Season
1992 Summer    75.0         Mexico  MEX  1992 Summer  Barcelona
     Summer    75.0         Mexico  MEX  1992 Summer  Barcelona
     Summer    62.0   Unified Team  EUN  1992 Summer  Barcelona
     Summer    62.0   Unified Team  EUN  1992 Summer  Barcelona
     Summer    70.0  United States  USA  1992 Summer  Barcelona
...             ...            ...  ...          ...        ...
     Summer    71.0          Japan  JPN  1992 Summer  Barcelona
     Summer    78.0   Unified Team  EUN  1992 Summer  Barcelona
     Summer    78.0   Unified Team  EUN  1992 Summer  Barcelona
     Summer    72.0   Unified Team  EUN  1992 Summer  Barcelona
     Summer    72.0   Unified Team  EUN  1992 Summer  Barcelona

                                  Event   Medal
Year Season
1992 Summer    Archery Men's Individual     NaN
     Summer          Archery Men's Team     NaN
     Summer  Archery Women's Individual     NaN
     Summer        Archery Women's Team  Bronze
     Summer    Archery Men's Individual     NaN
...                                 ...     ...
     Summer          Archery Men's Team     NaN
     Summer    Archery Men's Individual     NaN
     Summer          Archery Men's Team     NaN
     Summer    Archery Men's Individual     NaN
     Summer          Archery Men's Team     NaN

[247 rows x 12 columns]

In [62]:
# Let do the average height and weight of archers
df.xs('Archery', level = 'Sport')[['Height', 'Weight']].mean()

Height    174.095238
Weight     67.497354
dtype: float64

In [63]:
# Here is how to specify more than one thing with .xs
df.xs((1992, 'Archery'), level = ('Year', 'Sport')) # See how the level for 1992 is Year.

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,City,Event,Medal
Season,,,,,,,,,,,,
Summer,3656,Jos Andrs Anchondo Garca,M,29.0,185.0,75.0,Mexico,MEX,1992 Summer,Barcelona,Archery Men's Individual,NaN
Summer,3656,Jos Andrs Anchondo Garca,M,29.0,185.0,75.0,Mexico,MEX,1992 Summer,Barcelona,Archery Men's Team,NaN
Summer,5447,Loedmila Arzjannikova,F,34.0,168.0,62.0,Unified Team,EUN,1992 Summer,Barcelona,Archery Women's Individual,NaN
Summer,5447,Loedmila Arzjannikova,F,34.0,168.0,62.0,Unified Team,EUN,1992 Summer,Barcelona,Archery Women's Team,Bronze
Summer,8174,"Jack Leonard ""Jay"" Barrs, Jr.",M,30.0,182.0,70.0,United States,USA,1992 Summer,Barcelona,Archery Men's Individual,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
Summer,132302,Hiroshi Yamamoto,M,29.0,170.0,71.0,Japan,JPN,1992 Summer,Barcelona,Archery Men's Team,NaN
Summer,132910,Vladimir Nikolayevich Yesheyev,M,34.0,185.0,78.0,Unified Team,EUN,1992 Summer,Barcelona,Archery Men's Individual,NaN
Summer,132910,Vladimir Nikolayevich Yesheyev,M,34.0,185.0,78.0,Unified Team,EUN,1992 Summer,Barcelona,Archery Men's Team,NaN
Summer,133609,Stanislav Vyacheslavovich Zabrodsky,M,30.0,187.0,72.0,Unified Team,EUN,1992 Summer,Barcelona,Archery Men's Individual,NaN
Summer,133609,Stanislav Vyacheslavovich Zabrodsky,M,30.0,187.0,72.0,Unified Team,EUN,1992 Summer,Barcelona,Archery Men's Team,NaN

In [64]:
df.xs((1992, 'Archery'), level = ('Year', 'Sport'))[['Height', 'Weight']].mean()

Height    174.095238
Weight     67.497354
dtype: float64